.homepage {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.homepage .div {
    background-color: #f8f8f8;
    overflow: hidden;
    width: 1440px;
    height: 4790px;
    position: relative;
}

.homepage .overlap {
    position: absolute;
    width: 555px;
    height: 123px;
    top: 2889px;
    left: 157px;
    background-color: #ffffff;
    border-radius: 2px;
    border: 1px solid;
    border-color: #dddddd;
    box-shadow:
        -1px 4px 9px #0000001a, -6px 16px 17px #00000017, -13px 36px 23px #0000000d, -22px 64px 27px #00000003, -35px 100px 30px transparent;
}

.homepage .frame {
    display: flex;
    flex-direction: column;
    width: 310px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 26px;
    left: 122px;
}

.homepage .title {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 600;
    color: #191919;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 23px;
}

.homepage .text-wrapper {
    position: relative;
    align-self: stretch;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 500;
    color: #19191999;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 23px;
}

.homepage .overlap-group {
    position: absolute;
    width: 555px;
    height: 261px;
    top: 2889px;
    left: 734px;
    background-color: #191919;
    border-radius: 2px;
    box-shadow:
        -1px 4px 9px #0000001a, -6px 16px 17px #00000017, -13px 36px 23px #0000000d, -22px 64px 27px #00000003, -35px 100px 30px transparent;
}

.homepage .frame-2 {
    display: flex;
    flex-direction: column;
    width: 356px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 103px;
    left: 100px;
}

.homepage .title-2 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 600;
    color: #f8f8f8;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 23px;
}

.homepage .p {
    position: relative;
    align-self: stretch;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 500;
    color: #f8f8f899;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 23px;
}

.homepage .overlap-2 {
    position: absolute;
    width: 1538px;
    height: 304px;
    top: 3585px;
    left: -43px;
    background-color: #191919;
    border-radius: 2px;
    box-shadow:
        -1px 4px 9px #0000001a, -6px 16px 17px #00000017, -13px 36px 23px #0000000d, -22px 64px 27px #00000003, -35px 100px 30px transparent;
}

.homepage .title-3 {
    position: absolute;
    width: 692px;
    top: 49px;
    left: 417px;
    font-family: "Neue Haas Grotesk Display Pro-75Bold", Helvetica;
    font-weight: 700;
    color: #f8f8f8;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: 42px;
}

.homepage .frame-3 {
    display: flex;
    flex-direction: column;
    width: 124px;
    align-items: center;
    position: absolute;
    top: 186px;
    left: 701px;
}

.homepage .title-4 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 500;
    color: #f8f8f899;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 42px;
}

.homepage .title-5 {
    position: relative;
    align-self: stretch;
    margin-top: -14px;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 500;
    color: #f8f8f899;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 42px;
    white-space: nowrap;
}

.homepage .frame-wrapper {
    position: absolute;
    width: 555px;
    height: 123px;
    top: 3027px;
    left: 157px;
    background-color: #ffffff;
    border-radius: 2px;
    border: 1px solid;
    border-color: #dddddd;
    box-shadow:
        -1px 4px 9px #0000001a, -6px 16px 17px #00000017, -13px 36px 23px #0000000d, -22px 64px 27px #00000003, -35px 100px 30px transparent;
}

.homepage .frame-4 {
    display: flex;
    flex-direction: column;
    width: 356px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 26px;
    left: 99px;
}

.homepage .overlap-3 {
    position: absolute;
    width: 1468px;
    height: 488px;
    top: 1451px;
    left: -14px;
    background-color: #eff1f5;
}

.homepage .frame-5 {
    display: flex;
    flex-direction: column;
    width: 365px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    top: 43px;
    left: 552px;
}

.homepage .title-6 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Neue Haas Grotesk Display Pro-75Bold", Helvetica;
    font-weight: 700;
    color: #191919;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: 42px;
}

.homepage .title-7 {
    position: relative;
    width: 335px;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 500;
    color: #19191999;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 23px;
}

.homepage .div-wrapper {
    position: absolute;
    width: 397px;
    height: 265px;
    top: 171px;
    left: 124px;
    background-color: #ffffff;
    border-radius: 2px;
}

.homepage .frame-6 {
    display: flex;
    flex-direction: column;
    width: 335px;
    align-items: flex-start;
    gap: 23px;
    position: relative;
    top: 21px;
    left: 21px;
}

.homepage .ep-opportunity-wrapper {
    display: flex;
    width: 49px;
    height: 45px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 12px;
    position: relative;
    background-color: #d8d5ff;
    border-radius: 6px;
}

.homepage .ep-opportunity-wrapper2 {
    display: flex;
    width: 49px;
    height: 45px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 12px;
    position: relative;
    background-color: #E3F0FF;
    border-radius: 6px;
}

.homepage .ep-opportunity-wrapper3 {
    display: flex;
    width: 49px;
    height: 45px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 12px;
    position: relative;
    background-color: #E0FFED;
    border-radius: 6px;
}

.homepage .ep-opportunity {
    position: relative;
    width: 25px;
    height: 25px;
}

.homepage .vector {
    position: absolute;
    width: 17px;
    height: 21px;
    top: 2px;
    left: 3px;
}

.homepage .frame-7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.homepage .frame-8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.homepage .frame-9 {
    display: flex;
    flex-direction: column;
    width: 206px;
    align-items: flex-start;
    gap: 2px;
    position: relative;
    flex: 0 0 auto;
}

.homepage .title-8 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 600;
    color: #191919;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
}

.homepage .line {
    position: relative;
    width: 141px;
    height: 2px;
}

.homepage .title-9 {
    position: relative;
    align-self: stretch;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 500;
    color: #19191999;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
}

.homepage .frame-10 {
    display: inline-flex;
    align-items: center;
    gap: 3px;
    position: relative;
    flex: 0 0 auto;
}

.homepage .title-10 {
    position: relative;
    width: fit-content;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 600;
    color: #191919;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
    white-space: nowrap;
}

.homepage .vector-wrapper {
    position: relative;
    width: 12px;
    height: 24px;
}

.homepage .img {
    position: absolute;
    width: 7px;
    height: 13px;
    top: 6px;
    left: 2px;
}

.homepage .overlap-4 {
    position: absolute;
    width: 397px;
    height: 265px;
    top: 171px;
    left: 535px;
    background-color: #ffffff;
    border-radius: 2px;
}

.homepage .frame-11 {
    display: flex;
    flex-direction: column;
    width: 335px;
    align-items: flex-start;
    gap: 23px;
    position: relative;
    top: 21px;
    left: 23px;
}

.homepage .frame-12 {
    display: flex;
    width: 49px;
    height: 45px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 12px;
    position: relative;
    background-color: #e2f0ff;
    border-radius: 6px;
}

.homepage .layer {
    position: relative;
    width: 21px;
    height: 21px;
    top: 2px;
    left: 2px;
    background-image: url(./img/vector-15.svg);
    background-size: 100% 100%;
}

.homepage .frame-13 {
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.homepage .frame-14 {
    display: flex;
    flex-direction: column;
    width: 230px;
    align-items: flex-start;
    gap: 2px;
    position: relative;
    flex: 0 0 auto;
}

.homepage .line-2 {
    position: relative;
    width: 171px;
    height: 2px;
}

.homepage .overlap-5 {
    position: absolute;
    width: 397px;
    height: 265px;
    top: 171px;
    left: 946px;
    background-color: #ffffff;
    border-radius: 2px;
}

.homepage .frame-15 {
    position: relative;
    width: 49px;
    height: 45px;
}

.homepage .frame-16 {
    display: flex;
    flex-direction: column;
    width: 174px;
    align-items: flex-start;
    gap: 2px;
    position: relative;
    flex: 0 0 auto;
}

.homepage .line-3 {
    position: relative;
    width: 123px;
    height: 2px;
}

.homepage .overlap-6 {
    position: absolute;
    width: 1505px;
    height: 638px;
    top: 0;
    left: -33px;
    background-color: #0d0c0c;
}

.homepage .overlap-7 {
    position: absolute;
    width: 1464px;
    height: 82px;
    top: 0;
    left: 21px;
    background-color: #ffffff;
}

.homepage .frame-17 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 332px;
    position: relative;
    top: 14px;
    left: 122px;
}

.homepage .mask-group {
    position: relative;
    width: 53px;
    height: 53px;
}

.homepage .frame-18 {
    display: flex;
    width: 833px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.homepage .navbar {
    display: inline-flex;
    align-items: center;
    gap: 40px;
    position: relative;
    flex: 0 0 auto;
}

.homepage .tab {
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    cursor: pointer;
}

.homepage .ic-twotone-search-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 13px;
    position: relative;
    flex: 0 0 auto;
}

.homepage .ic-twotone-search {
    position: relative;
    width: 24px;
    height: 24px;
}

.homepage .vector-2 {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 3px;
    left: 3px;
}

.homepage .frame-19 {
    display: flex;
    flex-direction: column;
    width: 510px;
    align-items: flex-start;
    justify-content: center;
    gap: 33px;
    position: absolute;
    top: 235px;
    left: 143px;
}

.homepage .frame-20 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.homepage .title-11 {
    font-family: "Neue Haas Grotesk Display Pro-75Bold", Helvetica;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: 0%;
    color: #F9F9F9;
}

.homepage .description {
    align-self: stretch;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 500;
    color: #f8f8f899;
    position: relative;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

.homepage .frame-21 {
    width: 210px;
    height: 38px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 7px 49px;
    border-radius: 3px;
    background: linear-gradient(90deg,
            rgba(0, 105, 255, 1) 0%,
            rgba(0, 72, 178, 1) 100%);
    display: flex;
    flex-direction: column;
    position: relative;
}

.homepage .description-2 {
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Neue Haas Grotesk Display Pro-75Bold", Helvetica;
    font-weight: 700;
    color: #f8f8f8;
    white-space: nowrap;
    position: relative;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

.homepage .mynaui-arrow-up {
    position: relative;
    width: 24px;
    height: 24px;
    transform: rotate(90.00deg);
}

.homepage .vector-3 {
    position: absolute;
    width: 16px;
    height: 14px;
    top: 5px;
    left: 4px;
    transform: rotate(-90.00deg);
}

.homepage .mask-group-2 {
    position: absolute;
    width: 678px;
    height: 534px;
    top: 93px;
    left: 683px;
}

.homepage .title-12 {
    position: absolute;
    width: 281px;
    top: 3229px;
    left: 580px;
    font-family: "Neue Haas Grotesk Display Pro-75Bold", Helvetica;
    font-weight: 700;
    color: #191919;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: 42px;
}

.homepage .frame-22 {
    display: inline-flex;
    align-items: center;
    gap: 43px;
    position: absolute;
    top: 3949px;
    left: 782px;
}

.homepage .title-13 {
    position: relative;
    width: fit-content;
    font-family: "Neue Haas Grotesk Display Pro-75Bold", Helvetica;
    font-weight: 700;
    color: #191919;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 42px;
    white-space: nowrap;
}

.homepage .frame-23 {
    width: 315px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
}

.homepage .title-14 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Neue Haas Grotesk Display Pro-75Bold", Helvetica;
    font-weight: 700;
    color: #191919;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 42px;
}

.homepage .title-15 {
    position: relative;
    align-self: stretch;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 500;
    color: #19191999;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
}

.homepage .frame-24 {
    display: inline-flex;
    align-items: center;
    gap: 40px;
    position: absolute;
    top: 4053px;
    left: 782px;
}

.homepage .frame-25 {
    display: inline-flex;
    align-items: center;
    gap: 40px;
    position: absolute;
    top: 4157px;
    left: 782px;
}

.homepage .frame-26 {
    display: inline-flex;
    align-items: center;
    gap: 39px;
    position: absolute;
    top: 4261px;
    left: 782px;
}

.homepage .frame-27 {
    display: flex;
    flex-direction: column;
    width: 510px;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    top: 718px;
    left: 110px;
}

.homepage .title-16 {
    color: #191919;
    font-family: "Neue Haas Grotesk Display Pro-75Bold", Helvetica;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: 0%;
}

.homepage .title-17 {
    position: relative;
    align-self: stretch;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 500;
    color: #1A1A1A99;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 48px;
}

.homepage .frame-28 {
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    top: 2049px;
    left: 545px;
}

.homepage .title-18 {
    position: relative;
    width: 271px;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 500;
    color: #0d0d0d99;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 23px;
}

.homepage .frame-29 {
    display: flex;
    flex-direction: column;
    width: 416px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    top: 2713px;
    left: 512px;
}

.homepage .title-19 {
    position: relative;
    width: 368px;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 500;
    color: #19191999;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 23px;
}

.homepage .frame-30 {
    display: flex;
    flex-direction: column;
    width: 550px;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    top: 3949px;
    left: 108px;
}

.homepage .title-20 {
    position: relative;
    width: 368px;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 500;
    color: #19191999;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 23px;
}

.homepage .frame-31 {
    position: absolute;
    width: 598px;
    height: 471px;
    top: 900px;
    left: 110px;
    background-color: #ffffff;
    border-radius: 2px;
    overflow: hidden;
    box-shadow:
        -2px 2px 7px #0000001a, -8px 10px 13px #00000017, -18px 22px 17px #0000000d, -32px 40px 20px #00000003, -49px 62px 22px transparent;
}

.homepage .title-21 {
    position: absolute;
    width: 520px;
    top: 443px;
    left: 55px;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 600;
    font-style: 65 Medium;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0%;
}

.homepage .frame-32 {
    display: flex;
    flex-direction: column;
    width: 520px;
    align-items: flex-start;
    gap: 22px;
    position: absolute;
    top: 29px;
    left: 24px;
}

.homepage .title-22 {

    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 600;
    font-style: 65 Medium;
    font-size: 24px;
    line-height: 21px;
    letter-spacing: 0%;

}

.homepage .frame-33 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.homepage .title-23 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Neue Haas Grotesk Display Pro-Medium", Helvetica;
    font-weight: 600;
    color: transparent;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
}

.homepage .span {
    color: #191919;
    font-weight: 600;

}

.homepage .text-wrapper-2 {
    color: #19191999;
    font-weight: 500;
}

.homepage .title-24 {
    position: relative;
    align-self: stretch;
    font-family: "Neue Haas Grotesk Display Pro-Medium", Helvetica;
    font-weight: 600;
    color: transparent;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
}

.homepage .weui-arrow-filled-wrapper {
    display: flex;
    width: 41px;
    height: 32px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 4px 14px;
    position: absolute;
    top: 439px;
    left: 0;
    background-color: #0d0d0d;
}

.homepage .vector-4 {
    position: absolute;
    width: 7px;
    height: 13px;
    top: 6px;
    left: 3px;
}

.homepage .frame-34 {
    position: absolute;
    width: 598px;
    height: 224px;
    top: 900px;
    left: 731px;
    background-color: #ffffff;
    border-radius: 2px;
    overflow: hidden;
    box-shadow:
        -2px 2px 7px #0000001a, -8px 10px 13px #00000017, -18px 22px 17px #0000000d, -32px 40px 20px #00000003, -49px 62px 22px transparent;
}

.homepage .title-25 {
    position: absolute;
    width: 520px;
    top: 196px;
    left: 55px;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 600;
    color: #191919;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
}

.homepage .frame-35 {
    display: flex;
    width: 41px;
    height: 32px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 4px 14px;
    position: absolute;
    top: 192px;
    left: 0;
    background-color: #0d0d0d;
}

.homepage .frame-36 {
    position: absolute;
    width: 598px;
    height: 224px;
    top: 1147px;
    left: 731px;
    background-color: #ffffff;
    border-radius: 2px;
    overflow: hidden;
    box-shadow:
        -2px 2px 7px #0000001a, -8px 10px 13px #00000017, -18px 22px 17px #0000000d, -32px 40px 20px #00000003, -49px 62px 22px transparent;
}

.homepage .frame-37 {
    position: absolute;
    width: 462px;
    height: 456px;
    top: 2177px;
    left: 124px;
    background-color: #141414;
    border-radius: 5px;
    overflow: hidden;
}

.homepage .title-26 {
    position: absolute;
    top: 332px;
    left: 35px;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 600;
    color: #f8f8f8;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 21px;
    white-space: nowrap;
}

.homepage .title-27 {
    position: absolute;
    width: 396px;
    top: 361px;
    left: 35px;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 500;
    color: #f8f8f899;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
}

.homepage .overlap-8 {
    position: absolute;
    width: 365px;
    height: 268px;
    top: 18px;
    left: 26px;
}

.homepage .overlap-9 {
    position: absolute;
    width: 301px;
    height: 268px;
    top: 0;
    left: 0;
}

.homepage .overlap-group-2 {
    position: absolute;
    width: 265px;
    height: 268px;
    top: 0;
    left: 50px;
}

.homepage .layer-2 {
    position: absolute;
    width: 222px;
    height: 268px;
    top: 0;
    left: 0;
}

.homepage .line-4 {
    position: absolute;
    width: 54px;
    height: 5px;
    top: 217px;
    left: 211px;
    object-fit: cover;
}

.homepage .line-5 {
    position: absolute;
    width: 42px;
    height: 5px;
    top: 39px;
    left: 239px;
    object-fit: cover;
}

.homepage .line-6 {
    position: absolute;
    width: 76px;
    height: 5px;
    top: 148px;
    left: 225px;
    object-fit: cover;
}

.homepage .line-7 {
    position: absolute;
    width: 76px;
    height: 5px;
    top: 90px;
    left: 289px;
    object-fit: cover;
}

.homepage .overlap-10 {
    position: absolute;
    width: 353px;
    height: 222px;
    top: 2411px;
    left: 598px;
    background-image: url(./img/frame-427318922.svg);
    background-size: 100% 100%;
}

.homepage .title-28 {
    position: absolute;
    width: 235px;
    top: 20px;
    left: 28px;
    font-family: "Neue Haas Grotesk Display Pro-75Bold", Helvetica;
    font-weight: 700;
    color: #f8f8f8;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 31px;
}

.homepage .title-29 {
    position: absolute;
    width: 208px;
    top: 90px;
    left: 28px;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 500;
    color: #f8f8f899;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
}

.homepage .frame-38 {
    position: absolute;
    width: 353px;
    height: 222px;
    top: 2411px;
    left: 963px;
    background-color: #141414;
    border-radius: 5px;
    overflow: hidden;
}

.homepage .overlap-11 {
    position: absolute;
    width: 325px;
    height: 164px;
    top: 0;
    left: 28px;
}

.homepage .title-30 {
    position: absolute;
    width: 235px;
    top: 102px;
    left: 0;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 600;
    color: #f8f8f8;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 31px;
}

.homepage .layer-3 {
    position: absolute;
    width: 149px;
    height: 132px;
    top: 0;
    left: 176px;
}

.homepage .title-31 {
    position: absolute;
    top: 172px;
    left: 28px;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 500;
    color: #f8f8f899;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
    white-space: nowrap;
}

.homepage .frame-39 {
    position: absolute;
    width: 718px;
    height: 222px;
    top: 2177px;
    left: 598px;
    background-color: #272727;
    border-radius: 5px;
    overflow: hidden;
}

.homepage .title-32 {
    position: absolute;
    top: 110px;
    left: 28px;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 600;
    color: #f8f8f8;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 21px;
    white-space: nowrap;
}

.homepage .title-33 {
    position: absolute;
    width: 396px;
    top: 139px;
    left: 28px;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 500;
    color: #f8f8f899;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
}

.homepage .layer-4 {
    position: absolute;
    width: 239px;
    height: 201px;
    top: 21px;
    left: 459px;
}

.homepage .title-wrapper {
    display: flex;
    width: 91px;
    height: 22px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 13px;
    position: absolute;
    top: 2019px;
    left: 675px;
    background-color: #004ebe;
    border-radius: 5px;
}

.homepage .title-34 {
    position: relative;
    width: fit-content;
    margin-top: -1.50px;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 600;
    color: #f8f8f8;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: 23px;
    white-space: nowrap;
}

.homepage .frame-40 {
    display: flex;
    flex-direction: column;
    /* width: 446px; */
    align-items: flex-start;
    gap: 6px;
    position: absolute;
    top: 3347px;
    left: 227px;
}

.homepage .frame-41 {
    display: flex;
    flex-direction: column;
    width: 372px;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
}

.homepage .title-35 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 600;
    color: #191919;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 42px;
}

.homepage .line-8 {
    position: relative;
    width: 275px;
    height: 2px;
}

.homepage .frame-42 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.homepage .frame-43 {
    display: inline-flex;
    align-items: center;
    gap: 9px;
    position: relative;
    flex: 0 0 auto;
}

.homepage .simple-icons {
    position: relative;
    width: 15px;
    height: 15px;
    background-image: url(./img/dots.svg);
    background-size: 100% 100%;
}

.homepage .title-36 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 500;
    color: #19191999;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 42px;
    white-space: nowrap;
}

.homepage .frame-44 {
    display: flex;
    align-items: center;
    gap: 9px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.homepage .simple-icons-2 {
    position: relative;
    width: 15px;
    height: 15px;
    background-image: url(./img/dots.svg);
    background-size: 100% 100%;
}

.homepage .simple-icons-3 {
    position: relative;
    width: 15px;
    height: 15px;
    background-image: url(./img/dots.svg);
    background-size: 100% 100%;
}

.homepage .frame-45 {
    display: flex;
    flex-direction: column;
    /* width: 409px; */
    align-items: flex-start;
    gap: 6px;
    position: absolute;
    top: 3347px;
    left: 803px;
}

.homepage .line-9 {
    position: relative;
    width: 311px;
    height: 2px;
    left: -18px;
}

.homepage .frame-46 {
    display: flex;
    flex-direction: column;
    /* width: 388px; */
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    position: relative;
    flex: 0 0 auto;
}

.homepage .simple-icons-4 {
    position: relative;
    width: 15px;
    height: 15px;
    background-image: url(./img/dots.svg);
    background-size: 100% 100%;
}

.homepage .simple-icons-5 {
    position: relative;
    width: 15px;
    height: 15px;
    background-image: url(./img/dots.svg);
    background-size: 100% 100%;
}

.homepage .simple-icons-6 {
    position: relative;
    width: 15px;
    height: 15px;
    background-image: url(./img/dots.svg);
    background-size: 100% 100%;
}

.homepage .line-10 {
    position: absolute;
    width: 1440px;
    height: 1px;
    top: 4406px;
    left: 0;
    object-fit: cover;
}

.homepage .line-11 {
    position: absolute;
    width: 685px;
    height: 1px;
    top: 4052px;
    left: 755px;
    object-fit: cover;
}

.homepage .line-12 {
    position: absolute;
    width: 685px;
    height: 1px;
    top: 4156px;
    left: 755px;
    object-fit: cover;
}

.homepage .line-13 {
    position: absolute;
    width: 685px;
    height: 1px;
    top: 4260px;
    left: 755px;
    object-fit: cover;
}

.homepage .overlap-12 {
    position: absolute;
    width: 1447px;
    height: 428px;
    top: 4407px;
    left: 0;
}

.homepage .frame-47 {
    position: absolute;
    width: 1447px;
    height: 240px;
    top: 0;
    left: 0;
    background-color: #000000;
}

.homepage .colorbox-copy-wrapper {
    position: absolute;
    width: 437px;
    height: 240px;
    top: 0;
    left: 999px;
    background-image: url(./img/colorbox-3-copy.png);
    background-size: 100% 100%;
}

.homepage .colorbox-copy {
    position: absolute;
    width: 390px;
    height: 240px;
    top: 0;
    left: 23px;
}

.homepage .frame-48 {
    display: flex;
    flex-direction: column;
    width: 520px;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    position: absolute;
    top: 42px;
    left: 110px;
}

.homepage .container {
    display: flex;
    flex-direction: column;
    height: 77px;
    align-items: flex-start;
    gap: 1px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.homepage .title-37 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 600;
    color: #f8f8f8;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 48px;
}

.homepage .description-3 {
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Neue Haas Grotesk Display Pro-65Medium", Helvetica;
    font-weight: 500;
    color: #f8f8f8;
    white-space: nowrap;
    position: relative;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

.homepage .section {
    display: flex;
    width: 1440px;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 60px;
    position: absolute;
    top: 208px;
    left: 0;
}

.homepage .container-2 {
    display: inline-flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    gap: 60px;
    position: relative;
    flex: 0 0 auto;
}

.homepage .title-38 {
    position: relative;
    align-self: stretch;
    font-family: "Neue Haas Grotesk Display Pro-45Light", Helvetica;
    font-weight: 300;
    color: #1A1A1A;
    font-size: 16px;
    text-align: center;
}

.homepage .title-39 {
    position: relative;
    align-self: stretch;
    width: 124px;
    margin-top: -1.00px;
    font-family: "Neue Haas Grotesk Display Pro-45Light", Helvetica;
    font-weight: 300;
    color: #191919;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
}

.homepage .title-40 {
    position: relative;
    align-self: stretch;
    width: 196px;
    margin-top: -1.00px;
    font-family: "Neue Haas Grotesk Display Pro-45Light", Helvetica;
    font-weight: 300;
    color: #191919;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
}

.homepage .title-41 {
    position: relative;
    align-self: stretch;
    width: 350px;
    margin-top: -1.00px;
    font-family: "Neue Haas Grotesk Display Pro-45Light", Helvetica;
    font-weight: 300;
    color: #191919;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
}